@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Montserrat:wght@400&display=swap');

:root {
  --color1: rgb(49, 54, 63);
  --color2: rgb(255, 166, 0);
  --negro: #26292E;
  --blanco: whitesmoke;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
}

header{
  background-color: var(--color1);
  height: auto;
  margin: 0 auto;
  padding: 1rem 0;
}

menu ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  padding: .5rem 0;
  background-color: var(--color2);
  font-size: .9rem;
  font-weight: bold;
}

menu ul li a{
  text-decoration: none;
  color: var(--color1);
}

menu ul li a:hover {
  color: var(--blanco);
}

h1, h3, h4, h5{
  text-align: center;
  padding: .4rem 0;
  color: var(--blanco);
  font-weight: 400;
}

h5 a{
  color: var(--color2);
  text-decoration: none;
}

h1 span {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--color2);
}

main {
  margin: 1rem 0 5rem;
}

main h3, h4, h5 {
  color: var(--negro);
  font-weight: bold;
}

main h4.clase {
  margin-bottom: 1rem;
}

main article.clases {
  border: 1px solid var(--color2);
  width: 90%;
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem 3rem;
}

main article ul {
  list-style: decimal;
  font-size: .9rem;
}

main article ul li {
  padding-bottom: 1.1rem;
}

main article ul a{
  color: var(--color2);
  font-size: .7rem;
  text-decoration: none;
}

main article ul a:hover {
  color: var(--negro);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 1rem;
  background-color: var(--color2);
  width: 100%;
}

footer a {
  color:var(--color1);
  text-decoration: none;
}

footer a:hover {
  color:var(--blanco);
}