@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Montserrat:wght@400&display=swap');

:root {
  --color1: rgb(49, 54, 63);
  --color2: rgb(255, 166, 0);
  --negro: #26292E;
  --blanco: whitesmoke;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
}

header{
  background-color: var(--color1);
  height: 6rem;
  margin: 0 auto;
}

h1, h3{
  text-align: center;
  padding: .4rem 0;
  color: var(--blanco);
  font-weight: 400;
}

h1 span {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--color2);
}

main h3 {
  color: var(--negro);
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 1rem;
  background-color: var(--color2);
  width: 100%;
}

footer a {
  color:var(--color1);
  text-decoration: none;
}

footer a:hover {
  color:var(--blanco);
}
